source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FAKE
nuget FsUnit 
nuget FsUnit.xUnit 
nuget SourceLink.Fake
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio version_in_path: true

github fsharp/FAKE modules/Octokit/Octokit.fsx